<div class="container">

  <h3>Post data in CSV</h3>



  <a href="#"  [routerLink]="['/']" class="btn btn-primary">Back</a>



  <form [formGroup]="form"  (ngSubmit)="submit()">

      <div class="form-group">
          <label for="name">Name:</label>
          <input formControlName="name" id="name" type="text" class="form-control">
          <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
              <div *ngIf="f.name.errors?.required">Name is required.</div>
          </div>
      </div>

      <div class="form-group">
        <label for="state">State:</label>
        <input formControlName="state" id="state" type="text" class="form-control">
        <div *ngIf="f.state.touched && f.state.invalid" class="alert alert-danger">
            <div *ngIf="f.state.errors?.required">state is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="zip">Zip:</label>
        <input formControlName="zip" id="zip" type="text" class="form-control">
        <div *ngIf="f.zip.touched && f.zip.invalid" class="alert alert-danger">
            <div *ngIf="f.zip.errors?.required">zip is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="amount">Amount:</label>
        <input formControlName="amount" id="amount" type="text" class="form-control">
        <div *ngIf="f.amount.touched && f.amount.invalid" class="alert alert-danger">
            <div *ngIf="f.amount.errors?.required">Amount is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="qty">Qty:</label>
        <input formControlName="qty" id="qty" type="text" class="form-control">
        <div *ngIf="f.qty.touched && f.qty.invalid" class="alert alert-danger">
            <div *ngIf="f.qty.errors?.required">Qty is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="item">Item:</label>
        <input formControlName="item" id="item" type="text" class="form-control">
        <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
            <div *ngIf="f.item.errors?.required">Item is required.</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>

  </form>

</div>

